Marketing A/B Testing

In [35]:
import pandas as pd

In [45]:
# Load full dataset
df = pd.read_csv('marketing_AB_enhanced.csv')
# Print the first 5 rows
print(df.head())

   unnamed  user id test group  converted  total ads most ads day  \
0        0  1069124         ad      False        130       Monday
1        1  1119715         ad      False         93      Tuesday
2        2  1144181         ad      False         21      Tuesday
3        3  1435133         ad      False        355      Tuesday
4        4  1015700         ad      False        276       Friday

   most ads hour  revenue  cost_per_impression  total_cost  profit  roi  \
0             20        0                 0.05        6.50   -6.50 -1.0
1             22        0                 0.05        4.65   -4.65 -1.0
2             18        0                 0.05        1.05   -1.05 -1.0
3             10        0                 0.05       17.75  -17.75 -1.0
4             14        0                 0.05       13.80  -13.80 -1.0

   Unnamed: 12
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [46]:
# Drop unnamed column
df = df.loc[:, ~df.columns.str.contains('^unnamed', case=False)]

In [47]:
# Print the first 5 rows
print(df.head())

   user id test group  converted  total ads most ads day  most ads hour  \
0  1069124         ad      False        130       Monday             20
1  1119715         ad      False         93      Tuesday             22
2  1144181         ad      False         21      Tuesday             18
3  1435133         ad      False        355      Tuesday             10
4  1015700         ad      False        276       Friday             14

   revenue  cost_per_impression  total_cost  profit  roi
0        0                 0.05        6.50   -6.50 -1.0
1        0                 0.05        4.65   -4.65 -1.0
2        0                 0.05        1.05   -1.05 -1.0
3        0                 0.05       17.75  -17.75 -1.0
4        0                 0.05       13.80  -13.80 -1.0

In [48]:
# Randomly sample 35,000 rows
df_sample = df.sample(n=35000, random_state=42)

In [49]:
# Rename columns to snake_case
df_sample.columns = ['user_id', 'test_group', 'converted', 'total_ads',
                     'most_ads_day', 'most_ads_hour', 'revenue',
                     'cost_per_impression', 'total_cost', 'profit', 'roi']

In [50]:
# Check first 3 rows
print(df_sample.head(3))

        user_id test_group  converted  total_ads most_ads_day  most_ads_hour  \
127183  1207161         ad      False         16       Monday             10
310440  1580888         ad      False         19       Sunday             13
260659  1224574         ad      False         19      Tuesday             15

        revenue  cost_per_impression  total_cost  profit  roi
127183        0                 0.05        0.80   -0.80 -1.0
310440        0                 0.05        0.95   -0.95 -1.0
260659        0                 0.05        0.95   -0.95 -1.0

In [51]:
# Save sample for SQL import
df_sample.to_csv('marketing_AB_sample.csv', index=False)